#--------------------------#
# Magento Default Files    #
#--------------------------#

/app/etc/local.xml

/bin
/dev
/generated
/lib
/phpserver
/pub
/setup
/update
/var
/vendor
/auth.json.sample
/CHANGELOG.md
/composer.json
/composer.lock
/COPYING.txt
/grunt-config.json.sample
/Gruntfile.js.sample
/index.php
/LICENSE.txt
/LICENSE_AFL.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample
